useDynLib(microbenchmark, do_microtiming)
export(microbenchmark)
S3method(print, microbenchmark)
S3method(melt, microbenchmark)
importFrom(reshape, melt)
S3method(as.data.frame, microbenchmark)
S3method(boxplot, microbenchmark)
importFrom(graphics, boxplot)
S3method(ggplot, microbenchmark)
importFrom(ggplot2, aes_string)
importFrom(ggplot2, ggplot)
